body{
    /* background-color: rgb(247, 244, 244) */
    font-family: Arial, Helvetica, sans-serif;
}
.greetings{
margin-left: 23%;
}
h4{
    color: grey;
}
.subContainer{
    width:20%;
    margin-top: 3%;
}
.adminControl{
    background-color: transparent;
    border: none;
    padding:6%;
    width:90%;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 17px;
    font-weight: 550;
    color: rgb(192, 191, 191);
}

.form-container{
width: 500px;
height:fit-content;
padding: 25px;
background-color: white;
border-radius: 10px;
border: 2px solid #c5bfbf;
z-index:9;
position: absolute;
left: 23%;
top: 25%;
}

.form-container input[type=text]{
    width: 92%;
    padding: 18px;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    /* color:#50c5fc */
    /* color:#a2dffc62 */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
.editBtn{
width:100px;
height:40px;
font-size: 15px;
border-radius: 5px;
border: 1px solid
}